
p{
    color: rgb(44, 47, 51);
    font-family: "Prompt";
    
    text-align: center;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
h4{
    color: rgb(44, 47, 51);
    
    font-family: "Prompt";
    border: 2px solid rgb(136, 135, 135);
    padding: 1%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    text-decoration: underline;
}
.center2{
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2c2e2d;
    text-align: center;
    font-style: italic;
    font-style: oblique;
    text-decoration: underline;
}
.frame{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(136, 135, 135);
    padding: 1%;
    border-radius: 3%;
}
